# password.txt.example
# Example users:
# sensor:$hash_password
# dashboard:$hash_password
# Generate password file:
# mosquitto_passwd -c password.txt sensor
# mosquitto_passwd password.txt dashboard
